{# {% extends 'base.html.twig' %} #}
{# 
{% block title %}Log in!
{% endblock %} #}
{% block stylesheets %}
{{ encore_entry_link_tags('login_registro') }}
{% endblock %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
	<form method="post" class="container page-wrapper bg-blue p-t-180 p-b-100 font-robo">

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
					<div style="display:flex;">
						<h2 class="title">Login</h2>
						<div class="linkedon-logo-bg"></div>
					</div>
                    <form method="POST">
                        <div class="input-group">
							<input class="form-control input--style-2" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required autofocus>
                        </div>
						<div class="input-group" id="show_hide_password" style="width:93%;position:relative;">	
							<input class="form-control input--style-2" type="password" name="password" id="inputPassword" placeholder="Contraseña" required>
							<div class="input-group-addon" style="position: absolute;left: 100%;top: 12;">
								<a href="" style="background-color:#f2f2f2;border-radius:5px;padding:9px"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
							</div>
						</div>
						<label class="checkbox-container">Mantener sesión iniciada
							<input type="checkbox" name="_remember_me">
							<span class="checkmark"></span>
						</label>
                        <div class="p-t-30" style="position:relative">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button class="btn btn--radius btn--green" type="submit">
								Sign in
							</button>
							<a style="font-size:25px;position:absolute;bottom: 0;left: 94%;" href="/"><i class="fas fa-home"></i></a>
                        </div>
						{% if error %}
							<div style="color:red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						{# <a href="" style="background-color:#f2f2f2;border-radius:5px;padding:9px"><i class="fa fa-eye-slash" aria-hidden="true"></i></a> #}
                    </form>
                </div>
            </div>
        </div>
	</form>

		{# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" required> #}

		{# <input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}

		{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}

		{# <button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button> #}
	{# </form> #}
	{% block javascripts %}
			<script>
                $(document).ready(function() {
				$("#show_hide_password a").on('click', function(event) {
					event.preventDefault();
					if($('#show_hide_password input').attr("type") == "text"){
						$('#show_hide_password input').attr('type', 'password');
						$('#show_hide_password i').addClass( "fa-eye-slash" );
						$('#show_hide_password i').removeClass( "fa-eye" );
					}else if($('#show_hide_password input').attr("type") == "password"){
						$('#show_hide_password input').attr('type', 'text');
						$('#show_hide_password i').removeClass( "fa-eye-slash" );
						$('#show_hide_password i').addClass( "fa-eye" );
					}
				});
			});
            </script>
    {% endblock %}
{% endblock %}

