{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#contentTab1">Ofertas Nuevas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#contentTab2">Ofertas con inscripciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#contentTab3">Editar/Eliminar ofertas</a>
        </li>
    </ul>

    {# CONTENIDOS #}
    <div class="tab-content" id="myTabContent">
        {# TAB 1 #}
        <div class="tab-pane fade show active" id="contentTab1" role="tabpanel">
            <div class="container p-5">
                {% if ofertasEstat0 is empty %}
                <h5>No hay ofertas nuevas para revisar</h5>
                {% else %}
                <table class="table">
                    <thead>
                        <h3>Ofertas nuevas</h3>
                        <tr>
                            <th>Id</th>
                            <th>Titol</th>
                            <th>Descripcio</th>
                            <th>DataPublicacio</th>
                            <th>Ubicacio</th>
                            <th>Admitir/Rechazar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ofertaE0 in ofertasEstat0 %}
                        <tr>
                            <td>{{ ofertaE0.id }}</td>
                            <td>{{ ofertaE0.titol }}</td>
                            <td>{{ ofertaE0.descripcio }}</td>
                            <td>{{ ofertaE0.dataPublicacio ? ofertaE0.dataPublicacio|date('Y-m-d') : '' }}</td>
                            <td>{{ ofertaE0.ubicacio }}</td>
                            <td>
                                <a class="btn btn-success" style="padding: 8px 13px"
                                    href="{{ path('admin_admitir', {'id': ofertaE0.id, 'publicar' : 1}) }}"><i class="fas fa-check" style="font-size:20px"></i></a>
                                <a class="btn btn-danger" style="padding: 8px 17px"
                                    href="{{ path('admin_admitir', {'id': ofertaE0.id, 'publicar' : 0}) }}"><i class="fas fa-times" style="font-size:20px"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        {# TAB 2 #}
        <div class="tab-pane fade" id="contentTab2" role="tabpanel">
            <div class="container p-5">
                {% if ofertasJoin is empty %}
                <h5>No hay ofertas con candidatos</h5>
                {% else %}
                <table class="table">
                    <thead>
                        <h3>Ofertas con inscripciones</h3>
                        <tr>
                            <th>Id</th>
                            <th>Titol</th>
                            <th>Descripcio</th>
                            <th>DataPublicacio</th>
                            <th>Ubicacio</th>
                            <th>Inscritos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ofertaJ in ofertasJoin %}
                        <tr>
                            <td>{{ ofertaJ[0].id }}</td>
                            <td>{{ ofertaJ[0].titol }}</td>
                            <td>{{ ofertaJ[0].descripcio }}</td>
                            <td>{{ ofertaJ[0].dataPublicacio ? ofertaJ[0].dataPublicacio|date('Y-m-d') : '' }}</td>
                            <td>{{ ofertaJ[0].ubicacio }}</td>
                            <td>{{ ofertaJ[1] }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        {# TAB 3 #}
        <div class="tab-pane fade" id="contentTab3" role="tabpanel">
            <div class="container p-5">
                {% if ofertas is empty %}
                <h5>No hay ofertas</h5>
                {% else %}
                <table class="table">
                    <thead>
                        <h3>Todas las ofertas</h3>
                        <tr>
                            <th>Id</th>
                            <th>Empresa</th>
                            <th>Titol</th>
                            <th>Descripcio</th>
                            <th>DataPublicacio</th>
                            <th>Ubicacio</th>
                            <th>Estat</th>
                            <th>Categoria</th>
                            <th>Editar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ofertum in ofertas %}
                        <tr>
                            <td>{{ ofertum.id }}</td>
                            <td>{{ ofertum.empresa }}</td>
                            <td>{{ ofertum.titol }}</td>
                            <td>{{ ofertum.descripcio }}</td>
                            <td>{{ ofertum.dataPublicacio ? ofertum.dataPublicacio|date('Y-m-d') : '' }}</td>
                            <td>{{ ofertum.ubicacio }}</td>
                            {% if ofertum.estat == 1 %}
                            <td style="color:#00de07;font-weight:bolder;">Publicada</td>
                            {% elseif ofertum.estat == 2 %}
                            <td style="color:red;font-weight:bolder;">Rechazada</td>
                            {% else %}
                            <td style="color:grey;font-weight:bolder;">Borrador</td>
                            {% endif %}
                            <td>{{ ofertum.categoria }}</td>
                            <td style="width: 120px;">
                                <a class="btn btn-warning" style="padding: 8px 13px"
                                    href="{{ path('oferta_edit', {'id': ofertum.id}) }}"><i class="fas fa-edit" style="font-size:20px"></i></a>
                                <a class="btn btn-danger" style="padding: 8px 13px"
                                    href="{{ path('admin_delete', {'id': ofertum.id}) }}"><i class="fas fa-trash" style="font-size:20px"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-3.1.0.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
    var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
    });
    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    let tab = window.location.pathname.split('/')[2].replace("%23","#");
    if(!hash){
        $('#myTab a[href="' + tab + '"]').tab('show');
    }
    else{
        if (tab == hash){
            $('#myTab a[href="' + tab + '"]').tab('show');
        }
        else{
            $('#myTab a[href="' + hash + '"]').tab('show');
        }
    }

</script>
{% endblock %}